:root{
   --en-fsz-def: 1.0625rem;
}

body .en,
body en{
   font-family: var(--font-sans) !important;
   overflow-wrap: break-word;
   word-break: break-word;
   -webkit-hyphens: auto;
   -ms-hyphens: auto;
   hyphens: auto;
   font-weight: inherit;
   font-size: var(--en-fsz-def);
   line-height: 1.55;
   letter-spacing: -0.0125rem;
   word-spacing: -0.0125rem;
   margin-left: 0.1em;
}

/* headings */
body .en h1,
body .en h2,
body .en h3,
body .en h4,
body .en h5,
body .en h6,
body en h1,
body en h2,
body en h3,
body en h4,
body en h5,
body en h6{
   letter-spacing: 0;
   line-height: 1.26;
   font-size: inherit;
   font-weight: 700;
}

body h1.en,
body h2.en,
body h3.en,
body h4.en,
body h5.en,
body h6.en{
   font-weight: 700;
   letter-spacing: -0.0125rem;
   word-spacing: -0.0125rem;
   line-height: inherit;
}

body h1 .en,
body h2 .en,
body h3 .en,
body h4 .en,
body h5 .en,
body h6 .en,
body h1 en,
body h2 en,
body h3 en,
body h4 en,
body h5 en,
body h6 en{
   font-size: inherit;
   line-height: inherit;
   font-weight: inherit;
   vertical-align: -0.1875rem;
   font-size: calc(100% * 1.25);
}

body .en h1,
body h1.en{
   margin-top: 12.25rem;
   font-size: 3.5rem;
}

body .en h2,
body h2.en{
   margin-top: 4.0625rem;
   font-size: 2.625rem;
}

body .en h3,
body h3.en{
   margin-top: 2rem;
   font-size: 1.5rem;
   font-size: 1.4375rem;
}

   /* margin-bottom */
body .en h1.mgb,
body h1.en.mgb{
   margin-bottom: 4.59375rem;
}

body .en h2.mgb,
body h2.en.mgb{
   margin-bottom: 3.48125rem;
}

body .en h3.mgb,
body h3.mgb{
   margin-bottom: 1.53125rem;
}

/* blockquote */
body .en figure *,
body figure.en *,
body figure .en{
   font-family: var(--font-serif);
   line-height: 1.6;
   letter-spacing: -0.03875rem;
   word-spacing: 0.05rem;
   font-size: 1.0625rem;
   font-weight: 300;
}

body figure b{
   font-weight: 400 !important;
}

/* epigraph hedings */
body .en .epigraph{
   font-family: var(--font-serif) !important;
   font-weight: 300  !important;
   font-style: italic !important;
   letter-spacing: -0.03875rem;
   word-spacing: 0.05rem !important;
}