@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
body{ font-family:'noto sans japanese';
    background-color:rgba(255,246,217,0.4) }
#globalheader-container{
    background-color:#212222;
    color:#fffffa;}
#main-inner{margin-bottom:30px;}
#blog-title{
    background-image:url('http://img.f.hatena.ne.jp/images/fotolife/D/DDramonQ/20160503/20160503204631.png');background-color:white;
    background-repeat:repeat;}
#blog-title a{
    font-size:125%;
    font-family:'PT Sans' ,sans-serif ;
    font-weight:700;
    color:#3399ff;}
#blog-description{
    font-size:98%;
    color:#fffffa;
    text-align:center;
    margin:-0.4em 0 2.5em 0;
    padding-top:0;}
#top-editarea{
    background-image:url('http://img.f.hatena.ne.jp/images/fotolife/D/DDramonQ/20160503/20160503204631.png');background-color:white;
    background-repeat:repeat;}
.entry{width:100%;
    padding:1em;}
.date{margin-top:0;
      margin-bottom:-0.7em;
      font-size:67%;}
.date a{text-decoration:none;
     background-color:white;
     background-image:url('http://img.f.hatena.ne.jp/images/fotolife/D/DDramonQ/20160503/20160503204631.png') ;
     padding:0.3em 0.3em;}
.entry-title::before{
	position: absolute;
	content: '';}
.entry-title::before {
	top:1em;
    left: 0.3em;
    width: 18px;
	height: 18px;
	background: black;}
.entry-title{
  font-size:99.5%;
  font-weight:800;
  background-color:rgba(255,184,76,1.0);
  border-top: 3px solid #383B35;
  border-bottom:1px solid #383B35;
  padding-top:1.7em; 
  padding-bottom:0.3em;
  padding-left:2em;
  position:relative;}
a.entry-title-link.bookmark{
    color:#222222;
    font-size:1.1em;
    text-decoration:none;}
a.entry-title-link.bookmark:hover{
    color:#777776;}
.categories{font-size:75%;
    margin-bottom:1em;}
.categories a{text-decoration:none;background-color:black;
    color:white;
    border:1px solid black;
    border-radius:3px;}
.entry-inner{
    border-bottom:1px double #BFB2A9;}
.entry-categories{
    background-image:url('http://img.f.hatena.ne.jp/images/fotolife/D/DDramonQ/20160503/20160503204631.png');background-color:white;
    padding:1em 1em;
    margin-top:-1em ;
    margin-left:0.35em;
    margin-right:1em;}
.entry-content h3 {
    font-size:99.5%;
    font-weight:800;
    color:#212222;
    margin-right:3%;
    padding:0.8em 0 0.2em 0.6em;
    background-color:rgba(255,227,156,0.8);
    border-top:1px dashed #51554D;
    border-bottom:1px dashed #51554D;}
.entry-content p, div {
    font-size:99%;}
.entry-content a{color:#3571C4;font-style:italic; font-size:84%;}
.entry-footer{background-image:url('http://img.f.hatena.ne.jp/images/fotolife/D/DDramonQ/20160503/20160503204631.png');background-color:white;
    padding:0.5em 1em;
    margin-top:7em;
    margin-bottom:3.5em;
    width:90%;
    margin:auto;}
.pager-next:before{content:'\A\A';
    white-space:pre-line;}
.pager-next a, .pager-prev a{background-color:#3CB4C2;
    color:#ffffff;
    padding:10px 20px;
    box-sizing:border-box;
    border-color: #FFFFFA gray #727272 #FFFFFA;
    border-width:0px 3px 2px 0;
    border-style: solid;
    box-shadow: 3px 6px 5px 0 gray;
    line-height:80%;
    font-size:80%;}
.pager-next a:hover{background-color:orange;}
.pager-prev a:hover{background-color:orange;}
.pager{width:300px;
    height:3.5em;
    margin:auto;
    display:block;}
.hatena-module-links .hatena-module-title{
    width:280px;
    height:4em;
    padding:0.6em;}
.hatena-module-html .hatena-module-title{
    width:250px;
    height:4em;
    padding:0.6em;}
.hatena-module-title{
    width:160px;
    background:#393A33;
    border:1px solid #393A33;
    border-radius:8px;
    padding:0.8em 0.6em;
    margin:0.5em 70% 0.5em 0;
    color:#FF5EAE;}
.hatena-module-title a{
    font-weight:750;}
#box2 {background-image:url('http://img.f.hatena.ne.jp/images/fotolife/D/DDramonQ/20160415/20160415033230.png');
       background-repeat:repeat;
       padding:1.5em 2.5em 1.5em 2.5em;
       font-size:99%;
    display:block;
    float:left;
    margin-top:30px;}
#box2 ul li  a{font-size:99%;}
#bottom-editarea{
    width:100%;
    height:550px;
    font-size:98%;
    padding:0.75em;}
#footer{
    width:100%;
    margin:0;
    padding-top:0.8em;
    padding-bottom:0.4em;
    background-color:#393A33;
    font-size:98%;
    border-bottom:0.7em solid #FFBB00;
    border-top:0.2em dashed #EDDEBD;
    float:left;}
#footer-inner{
    width:100%;
    margin:0;
    color:#fffffa;
    text-align:center;}
#google_afc_user{
    width:100%;
    margin:auto;
    padding:auto;}
    
    
/*  Content cascading   */
blockquote {
    font-family: Georgia, serif;
    font-size: 98.5%;
    font-style: italic;
    width: 95%;
    margin: 0.8em 0.6em;
    padding: 1.2em 2em 1.2em 1.5em;
    line-height: 1.45;
    position: relative;
    color: #383838;
    background-color:#fcfaf5 ;}
blockquote:before {
   display: block;
    content: "\201C";
    font-size: 800%;
    position: absolute;
    left:-0.15em;
    top:-0.45em;
    color: #7a7a7a;}
blockquote cite {
     color: #999999;
     font-size: 0.8em;
    display: block;
    margin-top: 0.5em;}
blockquote cite:before {content: "\2014 \2009";}
.hatena-fotolife{
    box-shadow:5px 5px 5px 0 rgba(34,53,70,0.2);}
.keyword{text-decoration:none; border-bottom:1px dashed #3571C4; }

/*  _________________ */



/*  Archive page -- 3 Column --  */

.entry-title-link{font-size:113%;
    margin-left:0.3em;}
.archive-entry{font-size:80%;
    float:left;
    width:32.6%;
    height:225px;
    margin:0.1em;
    padding:0.1em;
    overflow:hidden;
    box-sizing:border-box;
    border:1px solid black;
    display:block;}          /* ↑アーカイブ↑ */
#main{ width:100%;  /* 3カラム用"float:left" */
    box-sizing:border-box;
    display:block;
    float:left;}
/* _________________  */
