:root{
   font-size: 17px;
   --font-nSansJp: "Noto Sans JP", sans-serif;
   --font-nSerifJp: "Noto Serif JP", serif;
   --font-mono: "Roboto Mono", monospace;
   --font-def: normal normal 300 1rem/1.4 var(--font-mono);
   --bg-pink: #F2DFDC;
   --bg-cyan: #D9E8DE;
   --bg-skyblue: #B6D2E0;
   --bg-gray: #eee;
   --bg-cream: #fdf5ea;
   --bg-purple: #e6d3de;
   --bg-baige: #f2e9de;
   --color-black: #333;
   --color-deepskyblue: #498aba;
}

body{
   font: var(--font-def);
}
.container{
   padding: 3rem;
}
a{
   color: var(--color-deepskyblue);
   text-decoration: none;
   border-bottom: 1px solid var(--color-deepskyblue);
}
p{
   margin-top: 0.6125em;
}
p:first-child{
   margin-top: 0;
}

strike{
   color: #bbb;
}
button{
   user-select: none;
   cursor: pointer;
}

@media (max-width: 414px){
   :root{
      font-size: 1rem;
   }
   body{
      
   }
   .container{
      padding: 1rem;
   }
}