*:not(ul) {
   margin:0;
   padding:0;
   box-sizing:border-box;
   }
body {
   font-family: -apple-system;
   padding-bottom: 100px;
   background: #f6f4f2;
   }
.container {
   padding: 3em 3em;
   }
.date-ant {
   display:none;
   }
.table_of_contents {
   font-weight: 600;
   }
.progress {
   font-weight: bold;
   color: #fff;
   margin-left: 0.5em;
   font-weight: 400;
   font-size: 12px;
   padding:2px 2px;
   border-radius: 4px;
   }
.wd {
   background: #ee6666;
   }
.gn {
   background: #bb6666;
   }
.rec {
   background: #6666ee;
   }
h3.api {
   font-size: 28px;
   color: #fff;
   background: orange;
   padding: 0.5em 1em;
   }
.semid {
   font-size: .75em;
   color: #aaa;
   font-style: italic;
   }
.mid {
   font-size: .5em;
   color: #aaa;
   font-style: italic;
   }
#idl {
   margin: 3rem 3rem;
   padding: 0 .25rem;
   border: 2px dashed #aaa;
   }
.pre {
   opacity: 0.8;
   border: 2px dotted #ddd;
   padding: 1rem 1rem;
   }
.content {
   padding: 1rem 1rem;
   }
.toggle {
   display:table;
   margin: 3rem 0 0 0;
   padding: 5px 10px;
   background: #fafafa;
   color: #555;
   font-weight: 700;
   transition: all .1s;
   cursor: pointer;
   }
.toggle.clicked {
   box-shadow: 0 0 3px 1px rgba(29,29,29,0.8) inset;
   }
.lists {
   transition: all .5s;
   }
.title {
   font-weight: 700;
   font-size: 28px;
   }
.sub_t {
   font-size: 22px;
   }
li {
   margin-top: .5em;
   }