header,nav, main, article, footer{
  display: block;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  color: #373737;
  background: #faf8f6;
}
.container{
  border: 10px solid #FFCCCB;
  padding: 3rem;
}
.inset{
  margin-left: 1rem;
  padding-left: 1rem;
  border-left: 3px solid #ccc;
}
h1{
  margin-top: 4rem;
  font-size: 2.5rem;
  text-align: center;
}
h2{
  margin-top: 1rem;
  font-size: 1.5rem;
}
h3{
  font-size: 1.125rem;
  margin-top: 1rem;
}
footer{
  text-align: center;
  background: #FFCCCB;
  padding: 4rem 4rem;
  color: #515151;
}
.credit{
  margin-top: 3rem;
}
