/*
body:not(.page-index){
   background: #fbfbfb;
}*/

.dark-l{
   background: #4A443F !important;
   color: #eee !important;
}
.dark-m{
   background: #3f3a36 !important;
   color: #eee !important;
}
.dark-d{
   background: #2E2A27 !important;
   color: #eee !important;
}
[class*="dark-"]:focus{
   background: #353331;
}
ul>li{/*
   list-style: none;*/
}

header{
   padding: 6rem 0 2rem;
   color: #414141;
}
.header-inner{}
.header-inner .logo{
   margin: 0 auto 3rem auto;
   width: 90px;
   height: 90px;
   background: transparent url("../src/logo-kana.png") left top/90px 90px no-repeat;
   -webkit-user-select: none;
   user-select: none;
   pointer-events: none;
}
.header-inner h3{
   font: normal normal 400 0.75rem/1.85 "Noto Sans JP", "Yu Gothic", serif;
   text-align: center;
   letter-spacing: -0.7px;
   color: #afaeab;
   margin-bottom: 3rem;
}

.container{
   width: 90%;
   margin: auto;
   max-width: 600px;
   padding: 4rem 0 10rem 0;
   font: normal normal 400 17px/1.6 -apple-system, BlinkMacSystemFont, "Noto Sans JP", "Yu Gothic", serif;
}
.center{
   text-align: center;
}



/* textarea */
textarea{
   display: block;
   width: 100%;
   margin: auto;
   padding: 0.5rem;
   font-size: 18px;
   text-align: center;
   letter-spacing: -1px;
   border-radius: 0px;
   border: 1px solid #777;
}
textarea::placeholder{
   color: #d5d5d5;
   text-shadow: 2px 2px 1px rgba(10,12,20,0.1);
   opacity: 1;
}
textarea:disabled::placeholder{
   color: #a8a8a8;
}
textarea:focus::placeholder{
   opacity: 0;
}


/* button */
.btn-wrapper{/*
border: 1px dotted red;*/
   min-height: 2.75rem;
}
.btn{
   width: 120px;
   transition: all 0.15s ease;
   display: inline-block;
   border: 1px solid #ccc;
   border-bottom: initial;
   border-radius: 5px 5px 0 0;
   border-right: 3px solid #ccc;
   border-left: 3px solid #ccc;
   border-bottom: 5px solid #aaa;
   transition: all 0.15s ease;
}
.btn-copy{
   background: #8F9EE3;
   color: #fff;
   border: 1px solid #768AE3;
   border-radius: 5px 5px 0 0;
   border-right: 3px solid #768AE3;
   border-left: 3px solid #768AE3;
   border-bottom: 5px solid #6779C7;
}
.btn-clear{
   background: #fff;
   color: #aaa
}
.btn.clicked{/*
   box-shadow: 0 0 7px 3px rgba(0,0,0,0.3) inset;*/
   border: 1px solid #aaa;
}
/* arrow */
.arrow{
   margin: 0.5rem auto;
   width: 55px;
   height: 55px;
   background: transparent url("../src/arrow.png") center center/50px 50px no-repeat;
}

/* ads */
.ads{
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   min-height: 120px;
   z-index: 9999;
   background: #eee;
   border: 1px solid #ccc;/*
   box-shadow: 0 25px 22px 0px rgba(10,10,10,0.1);*/
   transition: all 1s ease;
   transform: translateY(0%);
   text-align: center;
}
.ads.clicked{
   transform: translateY(-100%);
   box-shadow: initial;
}

.ads-strup{
   position: absolute;
   top: 100%;
   left: 70%;
   width: 60px;
   height: 30px;
   z-index: 1;
   border: inherit;
   border-top: initial;
   background: inherit;
   border-radius: 0 0 30px 30px;
   transform: translate(-50%, 0);
   cursor: pointer;
}
.ads-strup::before{
   content: "↑";
}
.ads-strup.clicked::before{
   content: "↓";
}

footer{
  text-align: center;
  background: #333;
  padding: 2rem 4rem;
  color: #eee;
}
footer a{
   color: #FFDDA6;
}
footer .nav{
   margin-bottom: 2rem;
}
footer .nav ul{
   margin: auto;
   padding: 0;
   grid-gap: 1rem 2rem;
   list-style: none;
   display: grid;
   grid-template-columns: auto auto auto;
}
footer .nav ul>li{
   text-align: center;
}
footer .nav ul>li>a:hover{
   text-decoration: none;
   color: #fff;
   opacity: 0.7;
}




/* about */


/* privacy Policy */
.container>h1:first-child{
   border-bottom: 1px solid #ccc;
   padding-bottom: 0.25rem;
   margin-bottom: 3.25rem;
}
ol>li{
   text-align: left;
   font-size: 1.5rem;
}
ol>li>span.title{
   font-weight: 700;
}
ol>li>p{
   font-size: 1rem;
}
ol>li{
   margin-top: 0.75rem;
}


/* termsOfsercice */

