:root{
   --font-mono: "Roboto Mono", monospace;
   --font-nSansJp: "Noto Snas JP", sans-serif;
   --font-nSerifJp: "Noto Serif JP", sans-serif;
   --color-link: #284f96;
   --bg-dark: #333;
}

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body{
   font: 400 1rem/1.4 serif;
   color: #311;
   background: #cff;
}

body > .container{
   padding: 3rem;
}
a{
   color: inherit;
   opacity: 0.7;
   text-decoration: none;
   font: italic normal 400 0.875rem/1.6 serif;
}
p{
   margin-top: 0.6125em;
}
p:first-child{
   margin-top: 0;
}
strike{
   color: #bbb;
}